// medea tablel
@media (min-width: 768px){
    /*... page d'acceuil ..*/
    // en tête
    header{
      .link-header{
        justify-content: space-between;
     .logo-men{
      width: 80px;
     }
    }
     .logo-tête{
      width: 22%;
      height: 45px;
      padding: 24px 0px;  
     }
     .logo-carte{
      border: none;
     }
     .btn-h1{
      padding: 26px 27px;
      width: 100%;
        h1{
            text-align: center;
            font-size: 43px; 
        }
     }

    }
    /*.. coreps de site ..*/
    .main-container{
        // fonctionnement  
    .fonctionnement{
      gap: 20px;
      padding: 0 51px;
      box-sizing: border-box;
    .etape{
      @include flex-row-center;
      flex-wrap: nowrap;
        .link-fonctionnement{
            width: 32%;
            font-size: 13px;
           
       } 
     }
    }
    // restorant to viste
    .restaurants{
    .box-restaurants{
        .link-restau{
            width:44% ;
        }
    }
  }
}
/*... pied du site */
footer{ 
    @include flex-row-center;
   
    .menu-nav{
    @include flex-row-center;
    gap: 49px;
    
  .nav-end{
  @include flex-row-center;
    gap: 37px;
    font-size: 12px;
  }
   .propo-deveni{
        @include flex-row-center;
        gap: 16px;
        padding-left: 15px;
        font-size: 13px;
        .link-nav{
        p{
            margin: 0;
        }     
        }
       
        }  
       
      .mention-contact{
       @include flex-row-center;
        gap: 9px;
        font-size: 11px;
      }  
    

    }
     .logo-en-page{
      width: 30%;
    .logo-footer{
      filter: brightness(0) invert(1);
      width: 69%; 
  }
}

  }
  // menu pages
  .menu h2{
    width: 8%;
    
  }
  .menu header .link-header{
    justify-content: space-between;
  }
  .menu .menus-container .restaurant-intro{
  padding: 0 100px;

  .menu-category-entrées, .menu-category-plats, .menu-category-desserts{
    width: 85%;
    padding: 0 45px;
  }
  .choix{
    width: 9.6%;
    height: 100%;
  
  }
 }

}
// media destock 
@media (min-width:1023px){
     /*... page d'acceuil ..*/
    // en tête
    header{
      .link-header{
        justify-content: space-between;
     .logo-men{
      width: 80px;
     }
    }
     .logo-tête{
      width: 22%;
      height: 45px;
      padding: 24px 0px;  
     }
     .logo-carte{
      border: none;
     }
     .btn-h1{
      padding: 26px 27px;
      width: 100%;
        h1{
            text-align: center;
            font-size: 43px; 
        }
     }

    }
    /*.. coreps de site ..*/
    .main-container{
        // fonctionnement  
    .fonctionnement{
      gap: 20px;
      padding: 0 67px;
      box-sizing: border-box;
    .etape{
      @include flex-row-center;
      gap: 29px;
      width: 83%;
        .link-fonctionnement{
            width: 25%;
            font-size: 14px;
       } 
     }
    }
    // restorant to viste
    .restaurants{
      padding: 0px 20px;
    .box-restaurants{
        .link-restau{
            width:44% ;   
        }
    }
 
}

 }
/*... pied du site */
footer{ 
    @include flex-row-center;
   
    .menu-nav{
    @include flex-row-center;
    gap: 49px;
    
  .nav-end{
  @include flex-row-center;
    gap: 37px;
    font-size: 12px;
  }
   .propo-deveni{
        @include flex-row-center;
        gap: 16px;
        padding-left: 15px;
        font-size: 13px;
        .link-nav{
        p{
            margin: 0;
        }     
        }
       
        }  
       
      .mention-contact{
       @include flex-row-center;
        gap: 9px;
        font-size: 11px;
      }  
    

    }
     .logo-en-page{
      width: 30%;
    .logo-footer{
      filter: brightness(0) invert(1);
      width: 69%; 
  }
}
  }
  .menu{
  h2{
    width: 11%; 
  }
  .head-pag .link-header{
    justify-content: space-between;
  }
  .menu .menus-container .restaurant-intro{
  padding: 0 120px;
  .menu-category-entrées, .menu-category-plats, .menu-category-desserts{
    width: 79%;
  }
 }
 .menu-category-entrées, .menu-category-plats, .menu-category-desserts{
  width: 70%;
  padding: 0 45px;
}
.width: 9.6%;
height: 100%;
  
 }
}


//menu pages

