 @import "variable.scss";
 @import "mixin.scss";
 @import "https://fonts.googleapis.com/css2?family=Shrikhand&family=Roboto:wght@400;500;700&display=swap";
 body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
 }
/*.. Entête..*/
header{
  @include flex-colum;
  .logo-tête{
    width: $logo-width;
    height: $logo-height;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: roboto;
  }
  .logo-carte{
    @include cart;
  .carte{
    @include flex-row-center;
    justify-content: center;
    gap: 15px;
    text-decoration: none;
    color: $color-text;
  }
}
  //boutton explore
  .btn-h1{
@include flex-colum;
align-items: center;
background-color: $color-back;
padding: 40px 0px;
  text-align: center;
  padding: 0 27px;
    }
  #exploreButton {
  
     text-decoration: none;
     width: auto;
     color: #fff;
     border: solid 1px $color-Primaire;
     border-radius: 100px;
     padding: 15px 26px;
     background-image: $button-gradient;
     transition: background-color 0.3s ease, box-shadow 0.3s ease;
       &:hover{
        background-color: lighten($color-Secondaire, 10%); // Utilisez une teinte plus claire pour l'effet hover
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
     a{
      text-decoration: none; 
}
h1 {
  text-align: center;
  font-size: 43px;
  font-family: Roboto;
}
p{
  font-size: 29px;
  text-align: center;
  font-family: Roboto;
}
}
}


/*... main...*/
.main-container{
  @include flex-colum;
  box-sizing: border-box;
  .fonctionnement{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 35px 0px;
    padding: 0 64px;
    .etape{
     @include flex-row-center;
     flex-wrap: wrap;
      box-sizing: border-box;
      gap: 42px;
      .link-fonctionnement{
        width: 67%;
        text-decoration: none;
        font-size: 18px;
        color: $color-text;
        .choix{
        @include flex-row-center;
        gap: 20px;
        border: solid 1px $color-back;
        border-radius: 18px;
        box-shadow: $shadow-btn;
        width: 100%;
        padding:9px 22px 9px 0px;
        background-color: $color-back;
        .fa-shop{
          color:$color-Primaire ;
        }
       
        .nembar{
          border: solid 1px $color-Primaire;
          width: 16px;
          height:7px;
          padding: 8px 0px 10px 11px;
          border-radius: 100%;
          background-color: $color-Primaire;
          font-size: 8px;
          color: #fff;
          position:relative;
          padding-left: -30px;
          
        }
      }
      }
      
    }
  }
  /*... the restorant to viste..*/
   .restaurants{
   @include flex-colum;
    background-color: $color-back;
    padding: 0 13px;
    justify-content: center;
    .title-restau{
  padding-left: 6%;
    }
   .box-restaurants{
   @include box-restaurants;
   justify-content: center;
    .link-restau{
      width: 100%;
      text-decoration: none;
      color: $color-text;
      font-size: 17px;
      
     .fa-heart{
      transition: color 0.3s ease;
      position: relative;
      &:hover{
        background-color: $color-Secondaire;
      }
      &::after {
        content: '\f004'; // Le caractère FontAwesome pour un cœur plein
        font-family: "Font Awesome 5 Free"; // Assurez-vous que cela correspond à votre importation de FontAwesome
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      &:hover::after {
        opacity: 1;
      }
    }
     }
    }
    .arti-restau{
      border: solid 1px white;
      border-radius: 20px;
      box-sizing: border-box;
      width: 100%;
      box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
      h3{
        padding-top: 10px;
        margin: 0px;
      }
      .image img{
        @include img-widht;
        box-sizing: border-box;
      }
    }
   }
}

      .fa-heart{
       @include article-awsom;
      }
      .title{
       @include article-titl;
       .paragraphe{
       @include article-p;
        p{
          margin: 0px;
        }
       
      }
    }
    /*.. partie footre..*/
        
    footer{
        background-color: #353535;
        @include colum-renverse;
        padding:22px 16px 26px 0px; ;
        justify-content: end;
        .menu-nav{
        @include colum-renverse;
        gap: 18px;
        padding-left: 20px;
      .nav-end{
      @include flex-colum;
        gap:7px;
      }
       .propo-deveni{
            @include flex-colum;
            gap: 2px;
         
            .fa-handshake-angle{
              transform: translateX(-1px) rotate(-19deg) translateY(2px);
              font-size: 15px;
            }
            .fa-utensils{
              font-size: 23px;
            }
            }  
            .link-nav{
              text-decoration: none;
              list-style-type: none;
              color: #fff;
              display: flex;
              align-items: center;
              gap: 8px;
              p{
                margin: 3px;
                padding: auto;
              }
            }
          .mention-contact{
           @include flex-colum;
            gap: 9px;
          }  
        

        }
         
        .logo-footer{
          filter: brightness(0) invert(1);
          width: 62px; 
      }
    
      }
     
      /*...les page html..*/
     .menu{
      background-color: #fff;
     header{
        display: flex;
        .link-header{
         @include flex-row-center;
         padding: 7px;
         width: 100%;
         gap: 100px;
         .logo{
          width:150px;
         }
          .link-retour{
            .fa-arrow-left-long{
              width: 50px;
            }
         
          }
        } 
        .header-img{
        width: 100%;
        object-fit: cover;
        height: 383px;
       
      
      }
      }
      .menus-container{
        display: flex;
        flex-direction: column;
        padding: 0px;
       justify-content: center;
       box-sizing: border-box;
       .entrées,
       .plat,
       .dessert {
         animation: fadeIn 0.5s ease forwards;
         opacity: 0; // Démarre l'animation avec l'élément invisible
       }
       
       .entrées {
         animation-delay: 0.2s; // Démarrage de l'animation après 0.2 secondes
       }
       
       .plat {
         animation-delay: 0.4s; // Démarrage de l'animation après 0.4 secondes
       }
       
       .dessert {
         animation-delay: 0.6s; // Démarrage de l'animation après 0.6 secondes
       }
         .sections-menus{
          @include flex-colum;
          @include border-top;
          box-shadow: $shadow-btn;
          width: 100%;
          align-items: center;
          background-color: $color-back;
          padding:0 30px;
          box-sizing: border-box; 
          position: relative;
          top: -30px;
          .restaurant-intro{
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 20px;
              .menu-title{
                font-family:'shrikhand'  ;
                color: #101010;
                font-size: 28px;
                font-style: italic;
                font-weight: bolder;
                line-height: 40.82px;
                text-align: left;
                text-shadow: 1px 1px 0 #101010;
               }
            }


          .menu-category-entrées{
            display: $display;
            flex-direction: column;
            gap: 40px;
            .entrées{
             @include flex-row-center;
             justify-content: space-between;
              @include border;
              padding: 12px 23px 12px 27px;
              @include choix-menu;
              h3{
                margin: 0;
              }
         
          }
          p{
            margin: 0;
          }     
     }


     .menu-category-plats{
  display: $display;
  flex-direction: column;
  gap: 30px;
  .plats{
  @include flex-row;
    @include border;
    padding: 12px 23px 12px 27px;
    h3{
      margin: 0;
    }
 
p{
  margin: 0;
} 
    }
  }
    
      
  
  .menu-category-plats{
  @include flex-colum;
    gap: 30px;
    .plat{
    @include flex-row;
    align-items: center;
      @include border;
      padding: 12px 23px 12px 27px;
      justify-content: space-between;
      h3{
        margin: 0;
      }
   
  p{
    margin: 0;
  } 
      }
    }
  

  .menu-category-desserts{
      @include flex-colum;
    gap: 30px;
    .dessert{
      @include flex-row;
      align-items: center;
      @include border;
      padding: 12px 23px 12px 27px;
      justify-content: space-between;
      h3{
        margin: 0;
        padding-left: 3px;
       }
      
      }  
     
    }
    .price{
      @include flex-colum;
       gap: 2px;
       .choise{
        @include flex-row;
       } 
      }
      .entrées {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        background: #FFF;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        align-items: center;
    }
    
    
   .price h3,.price p {
        margin: 0;
    }
    
    .choise {
        display: flex;
        align-items: center;
    }
    
    .select-checkbox {
        display: none; /* Hide the checkbox */
    }
    
    .menu-select {
        display: inline-block;
        margin-left: 15px;
        position: relative;
        width: 24px;
        height: 24px;
    }
    
    .select-icon {
        display:block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: rgb(8, 209, 35);
        position: absolute;
        right: 0;
        transition: transform 0.3s ease-in-out;
        transform: translateX(24px); /* Initial position off to the right */
        z-index: 0;
    }
    
    .select-checkbox:checked + .select-icon {
        transform: translateX(0); /* Slide in on check */
        background: #4CAF50; /* Color when active */
    }
    
    .select-checkbox:checked + .select-icon::after {
        content: "\2713"; /* Unicode check mark */
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        z-index: 1;
    }
    
    .menu-price span {
        z-index: 2;
    }
       .commander-btn{
      @include btn-list;
       margin:30px 0px;
    }   
   h2{
    @include effets-h2; 
   }
  }
  
  p{
    margin: 0;
  } 
      
    
  
   
      a{
        text-decoration: none;
        color: #fff; 
       
      } 
    
    }
  }

@import "./media-queris.scss"
    
 
  
