 //variable
 $color-start: #9356DC;
 $color-end: #FF79DA;
 $button-gradient: linear-gradient(to right, $color-start 0%, $color-end 100%);
 //variable boutton
 $menu-bg-color: white;
 $transition-duration: 0.5s;
 
 $color-btn: #F3F3F3;
 $color-text: #101010;
 $color-carte: #868686;
 $logo-width: 25%;
 $logo-height: 49px;
 $shadow-btn: 0 4px 8px rgba(0, 0, 0, 0.1);
 $color-back:#F6F6F6;
 $display: flex;
 // Mixins-page