@charset "UTF-8";
/*...effe h2 au survole
@mixin effets-h2{

  position: relative;
  padding-bottom: 0.2rem;
  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 7%;
    background-color: green;
    transform:scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
  }
  &:hover::after{
   transform: scaleX(1);
   border-bottom: solid 0.3rem $color-Tertiaire;
  }
}..*/
@import "https://fonts.googleapis.com/css2?family=Shrikhand&family=Roboto:wght@400;500;700&display=swap";
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes headshake {
  0% {
    transform: translatey(2%);
  }
  100% {
    transform: translateX(3%);
  }
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  font-family: Roboto;
}

/*.. Entête..*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .logo-tête {
  width: 40%;
  height: 36px;
  font-family: Shrikhand;
  padding: 11px 0px;
}
header .logo-carte {
  border-top: solid 1px #a09c9c;
  border-bottom: solid 4px rgb(181, 180, 180);
  background-color: #EAEAEA;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header .logo-carte .carte {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-decoration: none;
  color: #101010;
}
header .btn-h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding: 40px 0px;
  text-align: center;
  padding: 0 27px;
}
header .btn-h1 p {
  margin-top: 0;
  margin-bottom: 35px;
}
header #exploreButton {
  text-decoration: none;
  width: auto;
  color: #fff;
  border: solid 1px #9356DC;
  border-radius: 100px;
  padding: 15px 26px;
  background-image: linear-gradient(to top, #9356DC 20%, #FF79DA 100%);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 45px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
header #exploreButton:hover {
  background-image: linear-gradient(to bottom, #FF79DA 40%, #9356DC 100%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: solid 1px #FF79DA;
}
header #exploreButton a {
  text-decoration: none;
}
header #exploreButton h1 {
  text-align: center;
  font-size: 43px;
}
header #exploreButton p {
  font-size: 29px;
  text-align: center;
  font-family: Roboto;
}

/*... main...*/
.main-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /*... the restorant to viste..*/
}
.main-container .fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 35px 0px;
  padding: 0px 43px;
  box-sizing: border-box;
}
.main-container .fonctionnement .etape {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 42px;
  width: 100%;
}
.main-container .fonctionnement .etape .link-fonctionnement {
  text-decoration: none;
  font-size: 18px;
  color: #101010;
  box-sizing: border-box;
  flex-grow: 1;
}
.main-container .fonctionnement .etape .link-fonctionnement .choise {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border: solid 1px #F6F6F6;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 9px;
  background-color: #F6F6F6;
}
.main-container .fonctionnement .etape .link-fonctionnement .choise .fa-shop {
  color: #9356DC;
}
.main-container .fonctionnement .etape .link-fonctionnement .choise .nembar {
  border: solid 1px #9356DC;
  width: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 100%;
  background-color: #9356DC;
  font-size: 9px;
  color: #fff;
  position: relative;
  margin-left: -21px;
}
.main-container .restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 0px 19px;
  justify-content: center;
}
.main-container .restaurants .title-restau {
  padding-left: 4%;
}
.main-container .restaurants .box-restaurants {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 29px 10px;
  gap: 60px;
  align-items: center;
  justify-content: center;
}
.main-container .restaurants .box-restaurants .link-restau {
  width: 100%;
  text-decoration: none;
  color: #101010;
  font-size: 17px;
}
.main-container .restaurants .arti-restau {
  border: solid 1px white;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}
.main-container .restaurants .arti-restau h3 {
  padding-top: 10px;
  margin: 0px;
}
.main-container .restaurants .arti-restau .image img {
  width: 100%;
  height: 144px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  box-sizing: border-box;
}

.title {
  margin: 0px;
  padding: 20px;
}
.title .paragraphe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title .paragraphe .mask {
  width: 19px;
  height: 25px;
  background-color: black;
  mask-image: url(./images/heart-regular.svg);
  -webkit-mask-image: url(./images/heart-regular.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  opacity: 1;
  position: relative;
  overflow: hidden;
}
.title .paragraphe .mask:hover {
  background: none;
  -webkit-mask-image: url(./images/heart-solid.svg);
}
.title .paragraphe .mask::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(to top, #9356DC 20%, #FF79DA 100%);
  mask-image: url(./images/heart-solid.svg);
  -webkit-mask-image: url(./images/heart-solid.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  transition: height 0.9s ease;
  opacity: 1;
}
.title .paragraphe .mask:hover::after {
  height: 100%;
}
.title .paragraphe p {
  margin: 0px;
}

/*.. partie footre..*/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column-reverse;
  padding: 20px 34px 26px 0px;
  justify-content: end;
}
footer .menu-nav {
  display: flex;
  flex-direction: column-reverse;
  gap: 18px;
  padding-left: 20px;
}
footer .menu-nav .nav-end {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .menu-nav .propo-deveni {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
footer .menu-nav .propo-deveni .fa-handshake-angle {
  transform: translateX(-1px) rotate(-19deg) translateY(2px);
  font-size: 9px;
}
footer .menu-nav .propo-deveni .fa-utensils {
  font-size: 11px;
}
footer .menu-nav .link-nav {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
}
footer .menu-nav .link-nav p {
  margin: 3px;
  padding: 8px;
}
footer .menu-nav .mention-contact {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
footer .logo-footer {
  filter: brightness(0) invert(1);
  width: 62px;
}

/*...les page html..*/
.menu image {
  object-fit: cover;
  width: 100%;
  height: 383px;
}
.menu .menu-title {
  font-family: Shrikhand;
  font-size: 22px;
}
.menu h2 {
  font-family: Roboto;
  font-weight: normal;
  font-size: 19px;
  position: relative;
  padding-bottom: 0.2rem;
  bottom: 0;
  left: 0;
  width: 14%;
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(1);
  border-bottom: solid 0.3rem #99E2D0;
}
.menu h3 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}
.menu p {
  font-family: Roboto;
  font-size: 13.04px;
  margin: 0;
}
.menu span {
  font-family: Roboto;
  font-size: 13.04px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  position: relative;
  bottom: -15px;
  padding: 0 12px;
  transition: 1.2s;
}
.menu .head-pag {
  display: flex;
  box-sizing: border-box;
  align-items: start;
}
.menu .head-pag .link-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 40px;
  width: 55%;
  gap: 109px;
  justify-content: center;
}
.menu .head-pag .link-header .logo {
  width: 150px;
}
.menu .head-pag .header-img {
  width: 100%;
  height: 343px;
  object-fit: cover;
}
.menu .menus-container .restaurant-intro .bloc-articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu .menus-container .sections-menus {
  gap: 42pxpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: solid 1px #f6f6f6;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  background: #f6f6f6;
  position: relative;
  margin-top: -28px;
}
.menu .menus-container .title-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.menu .menus-container .title-menu .mask {
  width: 19px;
  height: 25px;
  background-color: black;
  mask-image: url(./images/heart-regular.svg);
  -webkit-mask-image: url(./images/heart-regular.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  opacity: 1;
  position: relative;
  overflow: hidden;
}
.menu .menus-container .title-menu .mask:hover {
  background: none;
  -webkit-mask-image: url(./images/heart-solid.svg);
}
.menu .menus-container .title-menu .mask::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(to top, #9356DC 20%, #FF79DA 100%);
  mask-image: url(./images/heart-solid.svg);
  -webkit-mask-image: url(./images/heart-solid.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  transition: height 0.9s ease;
  opacity: 1;
}
.menu .menus-container .title-menu .mask:hover::after {
  height: 100%;
}
.menu .menus-container .menu-category-entrées, .menu .menus-container .menu-category-plats, .menu .menus-container .menu-category-desserts {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  justify-content: center;
  flex-grow: 1;
  gap: 2px;
  box-sizing: border-box;
  padding: 0 30px;
  animation: fadeIn 0.5s ease forwards;
  opacity: 0;
  margin-bottom: 19px;
}
.menu .menus-container .menu-category-entrées {
  animation-delay: 1s;
}
.menu .menus-container .menu-category-plats {
  animation-delay: 3s;
}
.menu .menus-container .menu-category-desserts {
  animation-delay: 5s;
}
.menu .menus-container .entrées, .menu .menus-container .plat, .menu .menus-container .dessert {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 1px #FFFFFF;
  border-radius: 14px;
  background-color: #FFFFFF;
  justify-content: space-between;
  animation: fadeIn 0.5s ease forwards;
  opacity: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 3px;
  animation: fadeIn 0.5s ease forwards;
  opacity: 0;
  position: relative;
  padding: 10px 16px;
}
.menu .menus-container .entrées:hover .choix, .menu .menus-container .plat:hover .choix, .menu .menus-container .dessert:hover .choix {
  right: 0;
  opacity: 1;
  visibility: visible;
  transition: right 1.1s ease, opacity 2.1s ease;
}
.menu .menus-container .entrées:hover span, .menu .menus-container .plat:hover span, .menu .menus-container .dessert:hover span {
  transform: translateX(-79%);
  transition: 1.1s;
}
.menu .menus-container .entrées .price, .menu .menus-container .plat .price, .menu .menus-container .dessert .price {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 76%;
  padding-left: 8px;
}
.menu .menus-container .entrées .choix, .menu .menus-container .plat .choix, .menu .menus-container .dessert .choix {
  background-color: #99E2D0;
  position: absolute;
  width: 14%;
  height: 100%;
  border: solid 1px #99E2D0;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  top: 0px;
  right: -10%;
  text-align: center;
  cursor: pointer;
  transition: transform 0.5s ease, right 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: -0.5;
  transition: 1.2s;
}
.menu .menus-container .entrées .choix input, .menu .menus-container .plat .choix input, .menu .menus-container .dessert .choix input {
  position: relative;
  top: 24px;
  left: 0px;
  display: none;
}
.menu .menus-container .entrées .choix .font, .menu .menus-container .plat .choix .font, .menu .menus-container .dessert .choix .font {
  border: solid 1px #99E2D0;
  border-radius: 100%;
  color: #99E2D0;
  background-color: #fff;
  width: 22px;
  line-height: 21px;
}
.menu .menus-container .entrées .choix .fa-check, .menu .menus-container .plat .choix .fa-check, .menu .menus-container .dessert .choix .fa-check {
  position: relative;
  font-size: 13px;
  color: #99E2D0;
}
.menu .menus-container .entrées {
  animation-delay: 2s;
}
.menu .menus-container .plat {
  animation-delay: 4s;
}
.menu .menus-container .dessert {
  animation-delay: 6s;
}
.menu .commander-btn {
  text-align: center;
  padding-bottom: 40px;
}
.menu .commander-btn #commande {
  text-decoration: none;
  width: auto;
  color: #fff;
  border: solid 1px #9356DC;
  border-radius: 100px;
  padding: 15px 26px;
  background-image: linear-gradient(to top, #9356DC 20%, #FF79DA 100%);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 45px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 13px 39px;
  font-size: 20px;
}
.menu .commander-btn #commande:hover {
  background-image: linear-gradient(to bottom, #FF79DA 40%, #9356DC 100%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: solid 1px #FF79DA;
}

@media (min-width: 768px) {
  /*... page d'acceuil ..*/
  header .link-header {
    justify-content: space-between;
  }
  header .link-header .logo-men {
    width: 80px;
  }
  header .logo-tête {
    width: 22%;
    height: 45px;
    padding: 24px 0px;
  }
  header .logo-carte {
    border: none;
  }
  header .btn-h1 {
    padding: 26px 27px;
    width: 100%;
  }
  header .btn-h1 h1 {
    text-align: center;
    font-size: 43px;
  }
  /*.. coreps de site ..*/
  .main-container .fonctionnement {
    gap: 20px;
    padding: 0 51px;
    box-sizing: border-box;
  }
  .main-container .fonctionnement .etape {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  .main-container .fonctionnement .etape .link-fonctionnement {
    width: 32%;
    font-size: 13px;
  }
  .main-container .restaurants .box-restaurants .link-restau {
    width: 44%;
  }
  /*... pied du site */
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  footer .menu-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 49px;
  }
  footer .menu-nav .nav-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 37px;
    font-size: 12px;
  }
  footer .menu-nav .propo-deveni {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-left: 15px;
    font-size: 13px;
  }
  footer .menu-nav .propo-deveni .link-nav p {
    margin: 0;
  }
  footer .menu-nav .mention-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
    font-size: 11px;
  }
  footer .logo-en-page {
    width: 30%;
  }
  footer .logo-en-page .logo-footer {
    filter: brightness(0) invert(1);
    width: 69%;
  }
  .menu h2 {
    width: 8%;
  }
  .menu header .link-header {
    justify-content: space-between;
  }
  .menu .menus-container .restaurant-intro {
    padding: 0 100px;
  }
  .menu .menus-container .restaurant-intro .menu-category-entrées, .menu .menus-container .restaurant-intro .menu-category-plats, .menu .menus-container .restaurant-intro .menu-category-desserts {
    width: 85%;
    padding: 0 45px;
  }
  .menu .menus-container .restaurant-intro .choix {
    width: 9.6%;
    height: 100%;
  }
}
@media (min-width: 1023px) {
  /*... page d'acceuil ..*/
  header .link-header {
    justify-content: space-between;
  }
  header .link-header .logo-men {
    width: 80px;
  }
  header .logo-tête {
    width: 22%;
    height: 45px;
    padding: 24px 0px;
  }
  header .logo-carte {
    border: none;
  }
  header .btn-h1 {
    padding: 26px 27px;
    width: 100%;
  }
  header .btn-h1 h1 {
    text-align: center;
    font-size: 43px;
  }
  /*.. coreps de site ..*/
  .main-container .fonctionnement {
    gap: 20px;
    padding: 0 67px;
    box-sizing: border-box;
  }
  .main-container .fonctionnement .etape {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 29px;
    width: 83%;
  }
  .main-container .fonctionnement .etape .link-fonctionnement {
    width: 25%;
    font-size: 14px;
  }
  .main-container .restaurants {
    padding: 0px 20px;
  }
  .main-container .restaurants .box-restaurants .link-restau {
    width: 44%;
  }
  /*... pied du site */
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  footer .menu-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 49px;
  }
  footer .menu-nav .nav-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 37px;
    font-size: 12px;
  }
  footer .menu-nav .propo-deveni {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-left: 15px;
    font-size: 13px;
  }
  footer .menu-nav .propo-deveni .link-nav p {
    margin: 0;
  }
  footer .menu-nav .mention-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
    font-size: 11px;
  }
  footer .logo-en-page {
    width: 30%;
  }
  footer .logo-en-page .logo-footer {
    filter: brightness(0) invert(1);
    width: 69%;
  }
  .menu {
    .width: 9.6%;
    height: 100%;
  }
  .menu h2 {
    width: 11%;
  }
  .menu .head-pag .link-header {
    justify-content: space-between;
  }
  .menu .menu .menus-container .restaurant-intro {
    padding: 0 120px;
  }
  .menu .menu .menus-container .restaurant-intro .menu-category-entrées, .menu .menu .menus-container .restaurant-intro .menu-category-plats, .menu .menu .menus-container .restaurant-intro .menu-category-desserts {
    width: 79%;
  }
  .menu .menu-category-entrées, .menu .menu-category-plats, .menu .menu-category-desserts {
    width: 70%;
    padding: 0 45px;
  }
}

/*# sourceMappingURL=styles.css.map */
